
*{
  margin:0 auto;
}


.section-one{
  width: 100%;
  height: 100vh;
  background-image: url('../../../assets/images/background-1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .card{
    width: 80%;
    height: 70%;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 5px 15px #979797;
    display: flex;
    justify-content: center;
    align-items:center;

    iframe{
      width: 90%;
      height: 90%;
    }
  }
}

@media screen and (max-width: 480px) {
  .section-one{
    background-image: url('../../../assets/images/background-mobile-1.jpg')!important;
    background-size: cover;
  }

}


